<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer fixedInViewport class="sidenav" mode="over">
    <mat-nav-list *ngFor="let menu of menuList" role="navigation">
      <a mat-list-item (click)="navigateTo(menu)"><span class="icon-wrapper material-icons">
          {{menu.icon}}
        </span> {{menu.title}}</a>
    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar color="primary" fxLayout="row" fxLayoutGap=".5rem" class="mat-elevation-z6">
    <button mat-button color="primary" class="menu-button mat-button" (click)="drawer.toggle()">
      <mat-icon role="img" aria-hidden="true">menu </mat-icon>
    </button>
    <h1 [ngStyle]="{'font-weight': 300}">
      {{activeMenu?.title}}
    </h1>
  </mat-toolbar>
  <ng-content></ng-content>
</mat-drawer-container>
