.sidenav-container {
    height: 100%;
    .sidenav{
        width: 200px;
    }
    .menu-button{
        border: none;
        cursor: pointer;
        padding: .3rem;
        outline: none;
    }
}